	 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

<body style="background: linear-gradient(45deg, rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%);">
 <dl class="row text-center table-bordered">
  <dt class="col-sm-3">York University</dt>
  <dd class="col-sm-9" style="text-align: left;">Dean's List, achieved a cumulative GPA of 3.28 and a GPA of 3.5 during 3rd and 4th year. Former-President of the Organization for World Peace YorkU chapter. Active Delegate of Model United Nations.</dd>
  <dt class="col-sm-3">Bitmaker General Assembly</dt>
  <dd class="col-sm-9" style="text-align: left;">Spent 450+ hours in devising solutions for programmatical problems that arise during the process of developing web apps. Learnt best practices, technical research and web frameworks that power modern tech stacks.</dd>
 </dd>
  <dt class="col-sm-3">The synergy</dt>
  <dd class="col-sm-9" style="text-align: left;">Having a background in business in the software world is beneficial, because as developers the software we write not only fulfils a technical specification but also a core competency of the company that we cater to. The technical aptitude I gained at Bitmaker allows me to build software, these skills combined with my background in business give me the quality of mind to discern the monetary implications of my web design implementations. This pushes me to come up with elegant solutions that are both agile and cost effective in a fast-moving device driven world.</dd>
 </dd>
</dl>
</body>