	 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

<body style="background: linear-gradient(45deg, rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%);">


 


 <dl class="row text-center table-bordered">
  <dt class="col-sm-3">Currently in the process of learning</dt>
  <dd class="col-sm-9">MongoDB, React, Swift</dd>
 </dd>
</dl>
</body>