	 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

  <dt class="col-sm-3 text-truncate">Continued</dt>
  <dd class="col-sm-9">Pink Floyd, Scorpions, Beatles/ Godfather II, Goodfellas, Carlito's Way, Apocalypse Now, Vanishing Point, Hunt For Red October, Enemy At the Gates, Imitation Game, Interstellar, Blade Runner/ Sopranos, House.MD, Dexter, Mr Robot  </dd>