<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
<body style="background: linear-gradient(45deg, rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%);">
 <dl class="row text-center table-bordered">
  <dt class="col-sm-3">Automotive Engineering</dt>
  <dd class="col-sm-9" style="text-align: left;">What I find mesmerizing about cars is the fact that they can be so much more than just a means of transportation. Just like software, an engine and chassis can be be tuned and refined ad infinitum so over time the more you make and break it, the better it becomes.</dd>
  <dt class="col-sm-3">Travelling</dt>
  <dd class="col-sm-9" style="text-align: left";>Having been born in a tropical country and being raised in Canada, I am no stranger to the polarity of climate. I enjoy impromptu coding sessions on my MacBook whenever inspiration strikes and crave the freedom and the world of possibilities that are available to me when I visit a new place. This is why I look forward to the opportunities that software development may present to me in terms of travelling and adventures.</dd>
   <dt class="col-sm-3">Cooking and Cuisines</dt>
  <dd class="col-sm-9" style="text-align: left";>Whenever things are not going according to my plans, I make it a point to slow down, zoom out and take some time to make a nice meal. The deliberation and time spent in a familiar routine of culinary action helps me decompress and more often than not, helps me break through the mental blockades of everyday life and solve problems with ease.</dd>
 </dd>


</dl>
</body>